@import "tailwindcss";
@plugin "daisyui";

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  background-color: black;
}

@keyframes blob {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
}

@keyframes blob-reverse {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(-30px, 40px) scale(1.1);
  }
  66% {
    transform: translate(20px, -20px) scale(0.9);
  }
}

.animate-blob {
  animation: blob 8s infinite ease-in-out;
}

.animate-blob-reverse {
  animation: blob-reverse 10s infinite ease-in-out;
}

.data-\[fill-start\=true\]\:border-s-primary[data-fill-start="true"] {
  border-inline-start-color: #98473e;
}
