.embla {
  max-width: 100%;
  position: relative;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 2.5rem;
}

.embla__viewport {
  overflow: hidden;
  padding-left: var(--slide-spacing);
}

.embla__container {
  display: flex;
  padding: 1rem 0;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 auto;
  min-width: 0;
  padding-left: var(--slide-spacing);
}

/* Embla Controls */

.embla__buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
  align-items: center;
  gap: 1rem;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.6rem;
  height: 1.6rem;
  z-index: 1;
  pointer-events: auto;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 30%;
  height: 30%;
}
